### Exploring styles.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
styles = pd.read_csv("../data/raw/styles.csv",on_bad_lines='skip')

In [22]:
styles.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [5]:
styles.isna().sum()

id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      7
dtype: int64

In [23]:
styles["image_path"] = styles["id"].astype(str).apply(lambda x: f"../data/raw/images/{x}.jpg")
styles["product_url"] = styles["productDisplayName"].astype(str).apply(lambda x: f"https://www.example.com/product/{x}.")

In [24]:
styles['baseColour'].fillna('Unknown', inplace=True)
styles['season'].fillna('Unknown', inplace=True)
styles['usage'].fillna('Unknown', inplace=True)
styles['year'].fillna(styles['year'].median(), inplace=True)
styles.dropna(subset=['productDisplayName'], inplace=True)

#### Additional Preprocessing

In [25]:
styles

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image_path,product_url
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,../data/raw/images/15970.jpg,https://www.example.com/product/Turtle Check M...
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,../data/raw/images/39386.jpg,https://www.example.com/product/Peter England ...
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,../data/raw/images/59263.jpg,https://www.example.com/product/Titan Women Si...
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,../data/raw/images/21379.jpg,https://www.example.com/product/Manchester Uni...
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,../data/raw/images/53759.jpg,https://www.example.com/product/Puma Men Grey ...
...,...,...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,../data/raw/images/17036.jpg,https://www.example.com/product/Gas Men Caddy ...
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,../data/raw/images/6461.jpg,https://www.example.com/product/Lotto Men's So...
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,../data/raw/images/18842.jpg,https://www.example.com/product/Puma Men Graph...
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,../data/raw/images/46694.jpg,https://www.example.com/product/Rasasi Women B...
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,../data/raw/images/51623.jpg,https://www.example.com/product/Fossil Women P...

In [29]:
#Strip whitespace, lower case, remove special characters
styles["productDisplayName"] = styles["productDisplayName"].str.strip().str.lower().str.replace(r"[^a-zA-Z0-9/s]", "", regex=True)

#Convert to categorical
for col in ['gender', 'masterCategory', 'subCategory', 'articleType', 'baseColour', 'season', 'usage']:
    styles[col] = styles[col].astype('category')

#year to int
styles["year"] = styles["year"].astype(int)

#Verify that all image files listed in styles.csv exist in the images/ folder
import os
img_path = 'C:/Users/rohan/OneDrive/Documents/Downloads/Resume projects april 2025/Product-identification-in-multimedia-data/data/raw/images'
styles['imageExists'] = styles['id'].apply(lambda x: os.path.exists(os.path.join(img_path, f"{x}.jpg")))
#styles = styles[styles['imageExists']]

In [30]:
styles["imageExists"].value_counts()

True     44412
False        5
Name: imageExists, dtype: int64